@font-face{font-family: fairview;src: url(fairview.otf);}
div,h1{font-family: fairview;}
h1{font-size: 56px;color: white;}
#top{width: 100%;height: 135px;position: absolute;top: 10px;}
#logo{font-size: 112px;text-decoration: underline;text-shadow: 1px 1px 5px white,-1px -1px 5px white;}
#main{position: absolute;top: 150px;left: 15px;right: 15px;height: 120%;border-radius: 10px;-o-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;background-color: #000;}
body {background: url(images/bg.jpg);}
p{font-size: 24px;color: white;}
img{transition: all .5s;-o-transition: all .1s;-ms-transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;}
img:hover{cursor: pointer;transform: scale(1.05,1.05) rotate(360deg);-o-transform: scale(1.05,1.05) rotate(360deg);-ms-transform: scale(1.05,1.05) rotate(360deg);-moz-transform: scale(1.05,1.05) rotate(360deg);-webkit-transform: scale(1.05,1.05) rotate(360deg);}
img:active{transform: scale(.9,.9);-o-transform: scale(.9,.9);-ms-transform: scale(.9,.9);-moz-transform: scale(.9,.9);-webkit-transform: scale(.9,.9);}
li{font-size: 24px;color: white;padding: 0;margin: 0;}